/* Write your CSS here */
.listitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.suggestion {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 15px;
}
.arrow-icon {
  height: 20px;
  width: 20px;
  margin: 3px;
}
p {
  margin: 7px;
  color: #64748b;
  font-family: 'Roboto';
}
.listitem:hover {
  background-color: rgb(233, 233, 233);
}
